---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
---

<Layout title="Welcome to AstreroIds.">
  <main>
    <h1>Welcome to <span class="text-gradient">AsteroIDs</span></h1>
    <div class="column">
      <img src="logo-altostratus.svg" width="20%" alt="altostrtus">
      <img src="nasa-logo.svg" width="20%" alt="nasa">
      <img src="world_ch.png" width="20%" alt="ppr">
      <img src="42-v2-2.png" width="20%" alt="42">
    </div>
    <p class="knowledge">
      La palabra asteroide procede del griego, ἀστεροειδής, y significa «de figura estelar», en referencia al aspecto que presentan cuando son vistos con un telescopio. Fue acuñada por William Herschel en 1802, aunque durante la mayor parte del siglo xix los astrónomos los denominaron planetas.
    </p>
    <p class="knowledge">
      <strong>Asteroids</strong> es una aplicación que te permitirá hacer una expedición por el mundo de los asteroides, explorando sus dimensiones, características y distancias respecto a nuestro planeta.
    </p>
    <p class="instructions">
      Para explorar los asteroides pulsa el botón <strong>explore</strong>
    </p>
    <div class="button-container">
      <Button content="Explore" href="/explore" />
    </div>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/Pablo-Palma/ALT-go-challenge/tree/db_version/docu"
        title="Documentation"
        body="Aprende sobre la estructura, composicion y utilidades de la aplicaicón"
      />
      <Card
        href="https://www.altostratus.es/"
        title="Altostratus"
        body="Impulsado por Altostratus"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1.5em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }

  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }

  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  .button-container {
    text-align: center;
    margin: 2rem 0;
  }

  .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }

</style>

